body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  border-radius: 50px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.show-box {
  border-radius: 10px;
  border: 1px solid #484848;
  padding: 20px 15px;
}

button {
  border-radius: 50px;
}

.destaque-texto {
  color: #0195f7;
  font-weight: bold;
}
